#content
  #content__box1
    #content__box1--1
    #content__box1--2
    #content__box1--3
    #content__box1--4
    #content__box1--5
    #content__box1--6
    #content__box1--7
    #content__box1--8
  #content__box2
    #content__box2--1
    #content__box2--2
    #content__box2--3
    #content__box2--4
    #content__box2--5
    #content__box2--6
    #content__box2--7
    #content__box2--8
  #content__box3
    #content__box3--1
    #content__box3--2
    #content__box3--3
    #content__box3--4
    #content__box3--5
    #content__box3--6
    #content__box3--7
    #content__box3--8
  #content__box4
    #content__box4--1
    #content__box4--2
    #content__box4--3
    #content__box4--4
    #content__box4--5
    #content__box4--6
    #content__box4--7
    #content__box4--8
  #content__box5
    #content__box5--1
    #content__box5--2
    #content__box5--3
    #content__box5--4
    #content__box5--5
    #content__box5--6
    #content__box5--7
    #content__box5--8
  #content__box6
    #content__box6--1
    #content__box6--2
    #content__box6--3
    #content__box6--4
    #content__box6--5
    #content__box6--6
    #content__box6--7
    #content__box6--8
  #content__box7
    #content__box7--1
    #content__box7--2
    #content__box7--3
    #content__box7--4
    #content__box7--5
    #content__box7--6
    #content__box7--7
    #content__box7--8
  #content__box8
    #content__box8--1
    #content__box8--2
    #content__box8--3
    #content__box8--4
    #content__box8--5
    #content__box8--6
    #content__box8--7
    #content__box8--8
