#content {
    width: 800px;
    background-color: green;
    margin: 0 auto;
  &__box1 {
      display: flex;
    &--1 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--2 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--3 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--4 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      
    }
    &--5 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--6 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--7 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--8 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
  }
  &__box2 {
      display: flex;
    &--1 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--2 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--3 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--4 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      
    }
    &--5 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--6 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--7 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--8 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
  }
  &__box3 {
      display: flex;
    &--1 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--2 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--3 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--4 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      
    }
    &--5 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--6 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--7 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--8 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
  }
  &__box4 {
      display: flex;
    &--1 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--2 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--3 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--4 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      background-color: white;
    }
    &--5 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      background-color: black;
    }
    &--6 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--7 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--8 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
  }
  &__box5 {
      display: flex;
    &--1 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--2 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--3 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--4 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      background-color: black;
    }
    &--5 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      background-color: white;
    }
    &--6 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--7 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--8 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
  }
  &__box6 {
      display: flex;
    &--1 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--2 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--3 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--4 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      
    }
    &--5 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--6 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--7 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--8 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
  }
  &__box7 {
      display: flex;
    &--1 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--2 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--3 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--4 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      
    }
    &--5 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--6 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--7 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--8 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
  }
  &__box8 {
      display: flex;
    &--1 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--2 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--3 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--4 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
      
    }
    &--5 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--6 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--7 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
    &--8 {
      height: 100px;
      width: 100px;
      border: solid 1px #000;
    }
  }
}